<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.dao.ComplaintMapper">

  <resultMap id="BaseResultMap" type="com.manager.pojo.UserCompaint">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="compaint_desc" jdbcType="VARCHAR" property="compaintDesc" />
  </resultMap>

  <sql id="baseColumn">
     id,user_id,compaint_desc
  </sql>

  <insert id="save">
    insert  into user_compaint(user_id, compaint_desc) value (#{userId}, #{compaint})
  </insert>

</mapper>