<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.dao.HouseMapper">

  <resultMap id="BaseResultMap" type="com.manager.pojo.UserHouse">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="house_name" jdbcType="VARCHAR" property="houseName" />
  </resultMap>

  <sql id="baseColumn">
    id,user_id,house_name
  </sql>

  <select id="selectByUserId" resultMap="BaseResultMap">
    SELECT <include refid="baseColumn"/>
    FROM house join
    where user_id = #{userId}
  </select>

  


</mapper>