<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.dao.PraiseMapper">

  <resultMap id="BaseResultMap" type="com.manager.pojo.UserPraise">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="praise_desc" jdbcType="VARCHAR" property="praiseDesc" />
  </resultMap>

  <sql id="baseColumn">
     id,user_id,praise_desc
  </sql>

  <insert id="save">
    insert  into user_praise(user_id, praise_desc) value (#{userId}, #{praise})
  </insert>

</mapper>